/* _________________________________intro_______________________________________________________ */
.intro {
    margin-bottom: 343px;
}
.intro_desc {
    margin-top: 120px;
}
.intro_desc h1 {
    width: 500px;
    font-family: Roboto-Medium;
    font-size: 50px;
    font-weight: 500;
    line-height: 55px;
    color: #F6F6F6;
    margin-bottom: 20px;
}
.intro_desc h1 span {
    color: #36C5DF;
}
.intro_desc p {
    width: 405px;
    font-size: 18px;
    line-height: 23px;
    color: #F6F6F6;
    margin-bottom: 40px;
}
.intro_btn {
    width: 333px;
    height: 53px;
    padding: 17px 125px 17px 125px;
    border-radius: 4px;
    gap: 4px;
    background: #36C5DF;
    color: #040404;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.intro_btn:hover {
    background: #075C6F;
    color: #F6F6F6;
}
/* __________________________________garant______________________________________________________ */
.garant {
    margin-bottom: 120px;
}
.garant h2 {
    margin-bottom: 60px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.gar_num {

    font-family: Roboto-Medium;
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;

}
.gar_num span {
    font-family: Roboto-Regular; 
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
/* ___________________________________about_us_____________________________________________________ */
.about_us {
    margin-bottom: 120px;
}
.about_us h2 {
    margin-bottom: 30px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.about_us p {
    color: #040404;
    font-size: 16px;
    line-height: 22px;
}
.about_us .col-5 {
    width: 510px;
}
/* ________________________________________________________________________________________ */

/* ________________________________________________________________________________________ */

/* ________________________________________________________________________________________ */

@media screen and (max-width: 1200px) {
    
}

