/* _________________________________intro_______________________________________________________ */
.intro {
    margin-bottom: 343px;
}
.intro_desc {
    margin-top: 120px;
}
.intro_desc h1 {
    width: 500px;
    font-family: Roboto-Medium;
    font-size: 50px;
    font-weight: 500;
    line-height: 55px;
    color: #F6F6F6;
    margin-bottom: 20px;
}
.intro_desc h1 span {
    color: #36C5DF;
}
.intro_desc p {
    width: 405px;
    font-size: 18px;
    line-height: 23px;
    color: #F6F6F6;
    margin-bottom: 40px;
}
.intro_btn {
    width: 333px;
    height: 53px;
    padding: 17px 125px 17px 125px;
    border-radius: 4px;
    gap: 4px;
    background: #36C5DF;
    color: #040404;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.intro_btn:hover {
    background: #075C6F;
    color: #F6F6F6;
}
.carousel-item img {
    height: 684px !important;
}
/* __________________________________garant______________________________________________________ */
.garant {
    margin-bottom: 120px;
}
.garant h2 {
    margin-bottom: 60px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.gar_num {
    font-family: Roboto-Medium;
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0em;
}
.gar_num span {
    font-family: Roboto-Regular; 
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}
/* ___________________________________about_us_____________________________________________________ */
.about_us {
    margin-bottom: 120px;
}
.about_us h2 {
    margin-bottom: 30px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.about_us p {
    color: #040404;
    font-size: 16px;
    line-height: 22px;
}
.about_us .col-5 {
    width: 510px;
}
/* _____________________________________params___________________________________________________ */
.params {
    margin-bottom: 120px;
}
.params h2 {
    margin-bottom: 60px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.params .card {
    border: 1px solid #E6E6E6 !important;
    height: 100%;
}
.params .card p {
    font-size: 18px;
    line-height: 23px;
    color: #040404;
}
.card-body-dif {
    background: #075C6F;
}
.card-body-dif p {
    color: #FFFFFF !important;
}
/* _____________________________________serv___________________________________________________ */
.serv {
    margin-bottom: 120px;
}
.serv .row h2 {
    margin-bottom: 60px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.card_right_serv {
    gap: 1.1rem!important;
}
.ct_one {
    bottom: 0px;
    left: 0px;
    padding-left: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 36px;
}
.serv h5 {
    font-size: 28px;
    line-height: 36px;
    color: #040404;
}
/* ____________________________________quest_form____________________________________________________ */
.quest_form {
    background: #1C7687;
    margin-bottom: 120px;
}
.questions {
    padding: 60px 0px;
}
.questions form {
    width: 500px;
}
.inp_m {
    height: 44px;
    padding: 12px;
    border-radius: 4px;
    border: 1px;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #B4B4B4;
}
.form-check-label {
    color: #191919;
    font-size: 12px;
    line-height: 17px;
}
.questions button {
    width: 435px;
    height: 53px;
    border-radius: 4px;
    gap: 4px;
    background: #36C5DF;
    color: #040404;
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.questions button:hover {
    background: #075C6F;
    color: #F6F6F6;
}
.questions h3 {
    font-family: Roboto-Medium;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
    margin-bottom: 30px;
}
.questions p {
    font-size: 16px;
    color: #040404;
    line-height: 22px;
}
/* __________________________________pertners______________________________________________________ */
.pertners {
    margin-bottom: 120px;
}
.pertners h2 {
    margin-bottom: 60px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
/* __________________________________info______________________________________________________ */
.info {
    margin-bottom: 120px;
}
.info h3 {
    margin-bottom: 30px;
    font-family: Roboto-Medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    color: #040404;
}
.accordion-button {
    font-size: 18px;
    line-height: 23px;
    color: #191919;
}
.info .accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #6FD7EA;
    --bs-accordion-active-color: #040404;
}
/* ________________________________________________________________________________________ */

@media screen and (max-width: 1280px) {
    .intro {
        margin-bottom: 240px;
    }
    .intro_desc {
        margin-top: 80px;
    }
    .carousel-item img {
        height: 540px !important;
        max-width: 100%;
        width: 1281px !important;
    }
}
@media screen and (max-width: 1200px) {
    .carousel-item img {
        height: 450px !important;
    }
    .intro {
        margin-bottom: 180px;
    }
}
@media screen and (max-width: 768px) {
    .intro_desc h1 {
        font-size: 36px;
        line-height: 47px;
    }
    .intro_desc p {
        font-size: 16px;
        line-height: 22px;
    }
    .gar_list {
        align-items: center;
        justify-content: space-between;
    }
    .gar_desc {
        font-size: 16px;
        line-height: 22px;
    }
    .garant h2,
    .about_us h2,
    .params h2,
    .serv .row h2,
    .pertners h2,
    .info h3 {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 30px;
    }
    .gar_num {
        font-size: 36px;
        line-height: 40px;
        /* width: 148px; */
    }
    .questions form {
        width: 320px;
    }
    .questions button {
        width: 320px;
    }
    .questions h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .questions p {
        font-size: 14px;
        line-height: 20px;
    }
}
@media screen and (max-width: 600px) {
    .carousel-item img {
        height: 390px !important;
    }
    .intro_desc {
        margin-top: 50px;
    }
    .intro_desc h1 {
        font-size: 28px;
        line-height: 37px;
        width: auto;
    }
    .intro_desc p {
        font-size: 16px;
        line-height: 22px;
        width: auto;
    }
    .intro_btn {
        width: 320px;
    }
    .intro {
        margin-bottom: 140px;
    }
    .garant h2,
    .about_us h2,
    .params h2,
    .serv .row h2,
    .pertners h2,
    .info h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .params .card p {
        font-size: 14px;
        line-height: 20px;
    }
}
